<section class="service-area" id="services">
    <h3 class="section-title-ser">Servicios</h3>
    <ul class="service-content">
        <li>
            <i class="fa fa-user"></i>
            <h4>Entrenamiento Personalizado</h4>
            
        </li>
        <li>
            <i class="fa fa-laptop"></i>
            <h4>Entrenamiento a distancia</h4>
            
        </li>
        <li>
            <i class="fa fa-user"></i><i class="fa fa-user"></i>
            <i class="fa fa-user"></i>
            <h4>Entrenamiento Grupal</h4>
            
        </li>
    </ul>
</section>
