<main id="dynami">
    <section class="about-area" id="about">
        <h3 class="section-title">Porquè entrenar con nosotros ?</h3>
        <ul class="about-content">
            <li class="about-left"></li>   
            <li class="about-right">
                <h2>La Columna Vertebral</h2>
                <p>La Columna Vertebral es una de las partes del cuerpo que más solemos involucrar en la mayoría de rutinas de entrenamiento. 
                    Esto, unido a la tensión del día a día y a las malas posturas, puede hacer que aparezcan los dolores de espalda
                    y las molestias en esta zona. Por ello al entrenar con nosotros no solo nos encargaremos de tu entrenamiento sino 
                    tambien del cuidado de tu Columna Vertebral.
                </p>
                <a class="about-btn" href="#">Leer Más</a>
            </li> 
        </ul>
    </section>    
    <div class="about-area" id="segundoAbout">
        
    </div>    
</main>
