<div id="contacto">
    <section class="contant-area" id="contant">
        <h3 class="section-title">Contacto</h3>
        <ul class="contact-content">
            <li>
                <i class="fa fa-map-marker"></i>
                <p>Belgrano<br>Palermo<br>Saavedra</p>
            </li>
            <li>
                <a href="https://api.whatsapp.com/send?phone=541130990849&text=Hola!%20necesito%20informacion%20sobre%20días%20y%20horarios."target="_blank"><i class="fa fa-whatsapp"></i></a>
                <a href="https://api.whatsapp.com/send?phone=541130990849&text=Hola!%20necesito%20informacion%20sobre%20días%20y%20horarios."target="_blank"><p>+54 1130990849</p></a>
            </li>
            <li>
                
                <a href="mailto:entrenadorluistrx@gmail.com?subject=Quiero mas información&body=Hola te contacto desde tu wedsite para recibir mas información sobre días y horarios."><i class="fa fa-envelope"></i></a><br>
                <a href="mailto:entrenadorluistrx@gmail.com?subject=Quiero mas información&body=Hola te contacto desde tu wedsite para recibir mas información sobre días y horarios."><p>dýnami@entrenamiento.com</p></a>

            </li>
        </ul>
    </section>
</div>
